<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.clloret.days">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <application
    android:name=".App"
    android:allowBackup="true"
    android:fullBackupContent="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="false"
    android:theme="@style/AppTheme.NoActionBar"
    tools:ignore="GoogleAppIndexingWarning">

    <meta-data
      android:name="firebase_crashlytics_collection_enabled"
      android:value="false" />
    <meta-data
      android:name="firebase_analytics_collection_enabled"
      android:value="false" />

    <activity
      android:name=".activities.MainActivity"
      android:label="@string/app_name"
      android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".events.create.EventCreateActivity"
      android:label="@string/title_activity_event_create"
      android:parentActivityName=".activities.MainActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".events.edit.EventEditActivity"
      android:label="@string/title_activity_event_edit"
      android:parentActivityName=".activities.MainActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".tags.create.TagCreateActivity"
      android:label="@string/title_activity_tag_create"
      android:parentActivityName=".activities.MainActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".tags.edit.TagEditActivity"
      android:label="@string/title_activity_tag_edit"
      android:parentActivityName=".activities.MainActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".settings.SettingsActivity"
      android:label="@string/title_activity_settings"
      android:parentActivityName=".activities.MainActivity" />
    <activity
      android:name=".activities.AboutActivity"
      android:label="@string/title_activity_about"
      android:parentActivityName=".activities.MainActivity"
      android:theme="@style/AppTheme.MaterialAboutActivity" />
    <activity
      android:name=".tasker.ui.TaskerSelectEventActivity"
      android:label="Select an event"
      android:theme="@style/AppTheme" />
    <activity
      android:name=".tasker.ui.TaskerCreateEventActivity"
      android:exported="false"
      android:label="@string/title_activity_event_create"
      android:theme="@style/AppTheme"
      android:uiOptions="splitActionBarWhenNarrow"
      android:windowSoftInputMode="adjustResize">

      <!-- this Intent filter allows the plug-in to be discovered by Locale -->
      <intent-filter>
        <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
      </intent-filter>
    </activity>

    <activity-alias
      android:name=".tasker.ui.PluginActivity"
      android:exported="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/title_activity_event_create"
      android:targetActivity=".tasker.ui.TaskerCreateEventActivity"
      tools:ignore="ExportedActivity">

      <!-- this Intent filter allows the plug-in to be discovered by the host. -->
      <intent-filter>
        <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
      </intent-filter>
    </activity-alias>

    <activity
      android:name=".tasker.ui.TaskerEditEventActivity"
      android:exported="true"
      android:label="@string/title_activity_event_edit"
      android:theme="@style/AppTheme"
      android:uiOptions="splitActionBarWhenNarrow"
      android:windowSoftInputMode="adjustResize">

      <!-- this Intent filter allows the plug-in to be discovered by Locale -->
      <intent-filter>
        <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
      </intent-filter>
    </activity>

    <receiver
      android:name=".device.receivers.FirstStartBroadcastReceiver"
      android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
      </intent-filter>
    </receiver>
    <receiver
      android:name=".device.receivers.AlarmBroadcastReceiver"
      android:process=":remote" />
    <receiver android:name=".device.receivers.ReminderReceiver" />
    <receiver android:name=".device.receivers.RefreshReceiver" />
    <receiver
      android:name=".tasker.receiver.FireReceiver"
      android:exported="true"
      android:process=":background"
      tools:ignore="ExportedReceiver">

      <!-- this Intent filter allows the plug-in to discovered by Locale -->
      <intent-filter>
        <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
      </intent-filter>
    </receiver>

    <service
      android:name=".device.services.TimeLapseService"
      android:permission="android.permission.BIND_JOB_SERVICE" />
  </application>

</manifest>